data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

results/*
!results/.gitkeep
!results/logs/
!results/logs/.gitkeep
!results/plots/
!results/plots/.gitkeep

*.pt
*.onnx
*.engine

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Локальные виртуальные окружения
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebooks и Google Colab
.ipynb_checkpoints/
.checkpoint/
*.ipynb
!notebooks/*.ipynb

# Системные файлы операционных систем
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
desktop.ini
$RECYCLE.BIN/
*.lnk

# Настройки IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?